@font-face {
    font-family: "Battambang";
    src: url("../fonts/KhmerOSBattambang-Regular.woff2") format("woff2"),
    url("../fonts/KhmerOSBattambang-Regular.woff") format("woff"),
    url("../fonts/KhmerOSBattambang-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Battambang";
    src: url("../fonts/KhmerOSBattambang-Regular.woff2") format("woff2"),
    url("../fonts/KhmerOSBattambang-Regular.woff") format("woff"),
    url("../fonts/KhmerOSBattambang-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Battambang";
    src: url("../fonts/KhmerOSBattambang-Bold.woff2") format("woff2"),
    url("../fonts/KhmerOSBattambang-Bold.woff") format("woff"),
    url("../fonts/KhmerOSBattambang-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Battambang";
    src: url("../fonts/KhmerOSBattambang-Bold.woff2") format("woff2"),
    url("../fonts/KhmerOSBattambang-Bold.woff") format("woff"),
    url("../fonts/KhmerOSBattambang-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}